/* NavBar.module.css */
.nav {
    background-color: rgb(110, 2, 7);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
}

.navList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navItem {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
    position: relative; /* Needed for positioning the active background */
}

.navItem:first-child {
    margin-right: auto;
    color: #FAF9F6;
}

.navItem a {
    color: #FAF9F6;
    text-decoration: none;
    padding: 30px 20px; /* Adjust padding */
    display: block;
    height: 100%; /* Ensure full height for the link */
}

/* Hover effect */
.navItem:not(:first-child) a:hover {
    background-color: #575757;
}

/* Active state */
.active.navItem:not(:first-child) a {
    background-color: #575757; /* Active background color */
}

/* Scroll effect */
body.scrolled .nav {
    background-color: #575757;
}

.nav.scrolled {
    background-color: #575757;
}

.navItem a.scrolled {
    background-color: #575757;
    color: #FAF9F6 !important;
}

/* Style for active link */
.navItem.active {
    background-color: #575757; /* Ensure the entire item has the same background */
}
