.newsCard {
    width: 20rem;
    height: 30rem;
}

.cardLink {
    text-decoration: none;
    color: inherit;
}

.removeUnderline {
    text-decoration: none; 
    color: inherit;
}

.newsImg {
    width: 20vw;
    height: 30vh;
    object-fit: cover;
}