.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  background-image: url("/Flag-Palestinian-Authority-Palestine.webp");
  /* Set your image path */
  background-size: cover;
  /* Make sure the image covers the whole container */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Prevent the image from repeating */
  opacity: 0.8;
  /* Adjust opacity to make it transparent */
  height: 100vh;
  /* Full viewport height */
  position: relative;
  /* Position relative for any overlays */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}


.caourselText {
  color: black;
}


.topContent {
  position: relative;
  z-index: 1;
  vertical-align: top;
  margin-top: -55vh;
  color: white;
  /* Make sure it’s above the overlay */
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40vw;
  max-height: 40 vh;
  margin-bottom: -63vh;
}

.carouselText {
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for better readability */
}

.conflictTitle {
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.overlay {
  position: absolute;
  /* Positioning to cover the whole container */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  z-index: 0;
  /* Make sure it’s below the content but above the background */
}

.mainContent {
  padding-top: 70px;
  flex-direction: column; 
  align-items: center;
  /* Adjust this value based on your navbar height */
}

.container main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
