
.newsCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem; /* Add padding to the container */
    margin-top: 4rem; /* Adjust this value based on the height of your navbar */
}