/* NavBar.module.css */
.nav {
    background-color: rgb(110, 2, 7);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
}

.navList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navItem {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
}

.navItem:first-child {
    margin-right: auto;
    color: #FAF9F6;
}

.navItem a {
    color: #FAF9F6;
    text-decoration: none;
    padding: 30px 20px;
    /* Adjust padding */
    display: block;
}

.navItem:not(:first-child) a:hover {
    background-color: #575757;
}

body.scrolled .nav {
    background-color: #575757;
}

.nav.scrolled {
    background-color: #575757;
}

.navItem a.scrolled {
    background-color: #575757;
    color: #FAF9F6 !important;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #FAF9F6;
    /* Make the active page bold */
    border-bottom: 3px solid #FAF9F6;
    /* Add an underline/border to show it's active */
}

.navItem>a {
    color: #FAF9F6;
    text-decoration: none;
    padding: 30px 20px;
}